beautifulsoup4
en_core_web_sm
gensim
keras
matplotlib
nltk
numpy
pandas
plotly
pyLDAvis
pyLDAvis
scikit_learn
seaborn
spacy
tensorflow
tensorflow_hub
tensorflow_intel
tokenizers
torch
transformers
wordcloud
unidecode
