beautifulsoup4==4.12.2
en_core_web_sm==3.5.0
gensim==4.3.1
keras==2.12.0
matplotlib==3.7.1
nltk==3.8.1
numpy==1.25.0
pandas==2.0.1
plotly==5.15.0
pyLDAvis==3.4.1
pyLDAvis==3.4.1
scikit_learn==1.2.2
seaborn==0.12.2
spacy==3.5.3
tensorflow==2.12.0
tensorflow_hub==0.13.0
tensorflow_intel==2.12.0
tokenizers==0.13.3
torch==2.0.1
transformers==4.30.2
wordcloud==1.9.2
